<% if lobby.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(lobby.errors.count, "error") %> prohibited this lobby from being saved:</h2>

    <ul>
      <% lobby.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="lobby">
  <%= form_with(model: lobby, id: "form") do |form| %>
    <%= form.label :title, style: "display: block;" %>
    <%= form.text_field :title %>
  <% end %>
  <%= yield %>
</div>
