<h2>Editing lobby</h2>

<p style="color: green"><%= notice %></p>

<%= render "form", lobby: @lobby %>

<div class="actions">
  <%= button_tag "Update", form: "form" %>
  <%= button_to "Destroy", @lobby, method: :delete %>
  <%= button_to "Cancel", @lobby, method: :get %>
</div>

<h2>Tiles availables for new cards:</h2>

<div id="tiles">
  <% @lobby.tiles.each do |tile| %>
    <%= link_to edit_lobby_tile_path(@lobby, tile) do %>
      <%= render tile %>
    <% end %>
  <% end %>
  <%= link_to new_lobby_tile_path(@lobby) do %>
    <div class="new tile">Add new tile</div>
  <% end %>
</div>
