<h1>Editing lobby</h1>

<p style="color: green"><%= notice %></p>

<%= render "form", lobby: @lobby %>

<br>

<div>
  <%= link_to "Show this lobby", @lobby %> |
  <%= button_to "Destroy this lobby", @lobby, method: :delete %>
</div>

<h2>Tiles availables for new cards:</h2>

<div id="tiles">
  <% @lobby.tiles.each do |tile| %>
    <%= link_to [@lobby, tile] do %>
      <%= render tile %>
    <% end %>
  <% end %>
  <%= link_to new_lobby_tile_path(@lobby) do %>
    <div class="new tile">Add new tile</div>
  <% end %>
</div>
