<p style="color: green"><%= notice %></p>

<table id="lobbies">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cards</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @lobbies.each do |lobby| %>
        <tr>
            <td><%= lobby.title %></td>
            <td><%= lobby.cards.count %></td>
            <td><%= link_to "Join", lobby %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to "New lobby", new_lobby_path %>
