<p style="color: green"><%= notice %></p>

<ul id="lobbies">
  <% @lobbies.each do |lobby| %>
    <li>
      <b><%= lobby.title %></b>
      <i>Players: <%= lobby.cards.count %></i>
      <%= button_to "Join", lobby, method: :get %>
    </li>
  <% end %>
</ul>

<%= button_to "New lobby", new_lobby_path, method: :get, form: { style: "margin-top: 1rem;" } %>
