<% if notice %><p style="color: green"><%= notice %></p><% end %>

<h2>Lobby</h2>

<header id="<%= dom_id @lobby %>" class="lobby">
  <%= render @lobby do %>
    <%= button_to "Edit", edit_lobby_path(@lobby), method: :get, form: { style: "grid-row: 1;" } %>
    <%= button_to "Exit", lobbies_path(@lobby), method: :get, form: { style: "grid-row: 1;" } %>
  <% end %>
</header>

<% if @lobby.tiles.count < 24 %>
  <p style="color: red">
    Lobby requires more tiles before creating players.
    Press "Edit" to create more tiles.
  </p>
<% end %>

<h2>Winners</h2>
<ul id="players">
  <% @lobby.cards.winners.each do |card| %>
    <li class="player winner">
      <%= link_to card.title, [@lobby, card] %>
    </li>
  <% end %>
</ul>

<h2>Players</h2>
<ul id="players">
  <% @lobby.cards.each do |card| %>
    <li class="player">
      <%= link_to card.title, [@lobby, card] %>
    </li>
  <% end %>
  <% if @lobby.tiles.count >= 24 %>
    <li class="player">
      <%= link_to "+ Join the game!", new_lobby_card_path(@lobby) %>
    </li>
  <% end %>
</ul>
