<p style="color: green"><%= notice %></p>

<header id="<%= dom_id @lobby %>" class="lobby">
  <%= render @lobby do %>
    <%= button_to "Edit", edit_lobby_path(@lobby), method: :get %>
    <%= button_to "Exit", lobbies_path(@lobby), method: :get %>
  <% end %>
</header>

<% if @lobby.tiles.count < 24 %>
  <p style="color: red">
    Lobby requires more tiles before creating players.
    Press "Edit" to create more tiles.
  </p>
<% end %>

<ul id="players">
  <% @lobby.cards.each do |card| %>
    <li>
      <%= link_to card.title.presence || "No name", [@lobby, card] %>
    </li>
  <% end %>
  <% if @lobby.tiles.count >= 24 %>
    <li>
      <%= link_to "Join the game!", new_lobby_card_path(@lobby) %>
    </li>
  <% end %>
</ul>
