<p style="color: green"><%= notice %></p>

<div class="lobby" id="<%= dom_id @lobby %>">
  <p>
    <strong>Lobby name:</strong>
    <%= @lobby.title %>
  </p>
  <%= button_to "Edit", edit_lobby_path(@lobby), method: :get %>
  <%= button_to "Exit", lobbies_path(@lobby), method: :get %>
</div>

<p>Players: <%= @lobby.cards.count %></p>

<ul>
  <% @lobby.cards.each do |card| %>
    <li>
      <%= link_to card.title, [@lobby, card] %>
    </li>
  <% end %>
</ul>

<p>
  <% if @lobby.tiles.count < 24 %>
    Lobby requires more tiles! |
  <% else %>
    <%= link_to "Join the game!", new_lobby_card_path(@lobby) %>
  <% end %>
</p>
