<% if tile.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(tile.errors.count, "error") %> prohibited this tile from being saved:</h2>

    <ul>
      <% tile.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="tiles">
  <%= form_with(model: [@lobby, tile], id: "form") do |form| %>
    <%= form.text_area :body,  "aria-label": "Body", class: "tile" %>
  <% end %>
  <%= yield %>
</div>
