<p style="color: green"><%= notice %></p>

<h1>Tiles</h1>

<div id="tiles">
  <% @tiles.each do |tile| %>
    <%= render tile %>
    <p>
      <%= link_to "Show this tile", [@lobby, tile] %>
    </p>
  <% end %>
</div>

<%= link_to "New tile", new_lobby_tile_path %>  |
<%= link_to "Back to lobby", lobby_path(@lobby) %>
