<header id="<%= dom_id card %>">
  <p>
    <strong>Lobby:</strong>
    <%= link_to card.lobby.title, lobby_path(card.lobby) %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= card.title %>
  </p>

  <%= button_to "Edit", edit_lobby_card_path(@lobby, @card), method: :get %>
</header>

<%= render "tiles", tiles: card.tiles %>
