<p style="color: green"><%= notice %></p>

<%= render @card %>

<div>
  <%= link_to "Edit this card", edit_lobby_card_path(@lobby, @card) %> |
  <%= link_to "Back to lobby", lobby_path(@lobby) %>

  <%= button_to "Destroy this card", [@lobby, @card], method: :delete %>
</div>
